{% comment %}
  Renders header-menu-vertical

  Usage:
  {% render 'header-menu-vertical' %}
{% endcomment %}
<ul id="menu-vertical-menu" class="draly-nav vertical-menu villa-menu">
  {%- for link in section.settings.vertical_menu.links -%}
    <li class="menu-item">
      <a href="{{ link.url }}">
        <span>{{ link.title | escape }}</span>
      </a>
    </li>
  {%- endfor -%}
</ul>
