@media screen and (max-width: 767px) {
  .articles-wrapper .article {
    width: 100%;
  }
}

.article {
  display: flex;
  align-items: center;
}

.article.grid__item {
  padding: 0;
}

.grid--peek .card-article {
  box-sizing: border-box;
}

.card-article__image-wrapper > a {
  display: block;
}

.card-article__title {
  text-decoration: none;
  word-break: break-word;
}

.card-article__title a:after {
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.card-article__link.link {
  padding: 0;
}

.card-article__link {
  text-underline-offset: 0.3rem;
}

.card-article .card__heading {
  margin-bottom: 0.6rem;
}

.blog-articles .card-article .card__information,
.blog__posts .card-article .card__information {
  padding-left: 2rem;
  padding-right: 2rem;
}

.card-article__info {
  padding-top: 0.4rem;
}

.card-article__footer {
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

.card-article__footer:not(:last-child) {
  margin-bottom: 1rem;
}

.card-article__footer:last-child {
  margin-top: auto;
}

.card-article__excerpt {
  width: 100%;
  margin-top: 1.2rem;
}

.card-article__link:not(:only-child) {
  margin-right: 3rem;
}

@media screen and (min-width: 992px) {
  .card-article__link:not(:only-child) {
    margin-right: 4rem;
  }
}

.card-article__image--small .ratio::before {
  padding-bottom: 11rem;
}

.card-article__image--medium .ratio::before {
  padding-bottom: 22rem;
}

.card-article__image--large .ratio::before {
  padding-bottom: 33rem;
}

@media screen and (min-width: 768px) {
  .card-article__image--small .ratio::before {
    padding-bottom: 14.3rem;
  }

  .card-article__image--medium .ratio::before {
    padding-bottom: 21.9rem;
  }

  .card-article__image--large .ratio::before {
    padding-bottom: 27.5rem;
  }
}

@media screen and (min-width: 992px) {
  .card-article__image--small .ratio::before {
    padding-bottom: 17.7rem;
  }

  .card-article__image--medium .ratio::before {
    padding-bottom: 30.7rem;
  }

  .card-article__image--large .ratio::before {
    padding-bottom: 40.7rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .articles-wrapper.grid {
    margin: 0 0 5rem 0;
  }

  @media screen and (min-width: 768px) {
    .articles-wrapper.grid {
      margin-bottom: 7rem;
    }
  }
}
