.vtstockinfo-bar {
    position: relative;
    display: block;
    margin-top: 10px;
    height: 3px;
    border-radius: 4px;
    background: rgba(var(--color-foreground),0.08);
    overflow: hidden;
}
.vtstockinfo {
    position: relative;
    display: block;
    font-size: calc(var(--font-body-scale) * 14px);
    font-weight: var(--font-body-weight-medium);
}
/*.vtstockinfo:before {
    content: "";
    border-radius: 100%;
    background: currentColor;
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    margin-right: 8px;
}*/
.vtstockinfo_high {
    color: var(--product-in-stock-color);
}
.vtstockinfo_low {
    color: var(--product-low-stock-color);
}
.vtstockinfo-probar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    display: block;
    transition: width 1.15s ease-in-out;
}
.vtstockinfo_high + .vtstockinfo-bar > .vtstockinfo-probar {
    background: var(--product-in-stock-color);
}
.vtstockinfo_low + .vtstockinfo-bar > .vtstockinfo-probar {
    background: var(--product-low-stock-color);
}