slideshow-component {
  position: relative;
  display: block;
}

.spaced-section--full-width:first-child slideshow-component.container {
  margin-top: 5rem;
}

.spaced-section--full-width:last-child slideshow-component.container {
  margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  .spaced-section--full-width:first-child slideshow-component.container {
    margin-top: calc(5rem + var(--page-width-margin));
  }

  .spaced-section--full-width:last-child slideshow-component.container {
    margin-bottom: calc(5rem + var(--page-width-margin));
  }
}

@media screen and (max-width: 991px) {
    .no-js slideshow-component .slider {
        padding-bottom: 3rem;
    }
}

slideshow-component .slideshow.banner {
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  column-gap: 10px;
  row-gap: 0;
}

.slideshow__slide {
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .slideshow--placeholder.banner--mobile-bottom.banner--adapt_image .slideshow__media,
  .slideshow--placeholder.banner--adapt_image:not(.banner--mobile-bottom) {
    height: 28rem;
  }
}

@media screen and (min-width: 768px) {
  .slideshow--placeholder.banner--adapt_image {
    height: 56rem;
  }
}


.slideshow__text > * {
  max-width: 100%;
}

@media screen and (max-width: 767px) {

  slideshow-component.container .slideshow__text {
    border-right: var(--text-boxes-border-width) solid rgba(0, 0, 0, var(--text-boxes-border-opacity));
    border-left: var(--text-boxes-border-width) solid rgba(0, 0, 0, var(--text-boxes-border-opacity));
  }
  .banner--mobile-bottom .slideshow__text-wrapper {
    flex-grow: 1;
  }

  .banner--mobile-bottom .slideshow__text .button {
    flex-grow: 0;
  }

  .slideshow__text.slideshow__text-mobile--left {
    align-items: flex-start;
    text-align: left;
  }

  .slideshow__text.slideshow__text-mobile--right {
    align-items: flex-end;
    text-align: right;
  }
}

@media screen and (min-width: 768px) {
  .slideshow__text.slideshow__text--left {
    align-items: flex-start;
    text-align: left;
  }

  .slideshow__text.slideshow__text--right {
    align-items: flex-end;
    text-align: right;
  }
}


.slideshow:not(.banner--mobile-bottom) .slideshow__text-wrapper {
  height: 100%;
}

@media screen and (min-width: 768px) {
  .slideshow__text-wrapper.banner__content {
    height: 100%;
    padding: 45px 45px 60px 45px;
  }
}

.slideshow__controls {
  border: 0.1rem solid rgba(var(--color-base-text), 0.08);
}

.spaced-section--full-width:last-child slideshow-component:not(.container) .slideshow__controls {
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .slideshow__controls {
    position: relative;
  }
}

slideshow-component:not(.container) .slider-buttons {
  border-right: 0;
  border-left: 0;
}

.slideshow__control-wrapper {
  display: flex;
}

.slideshow__autoplay {
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  slideshow-component.container .slideshow__autoplay {
    right: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .slideshow__autoplay.slider-button {
    margin-left: 0.6rem;
    padding: 0 0 0 0.6rem;
  }
}

.slideshow__autoplay .icon.icon-play,
.slideshow__autoplay .icon.icon-pause {
  display: block;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition: transform 150ms ease, opacity 150ms ease;
  width: 0.8rem;
  height: 1.2rem;
}

.slideshow__autoplay .icon.icon-play {
  height: 1rem;
}

.vtslideshow .slider-buttons{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.vtslideshow .slideshow__controls{
    border: none;
}
.slideshow__autoplay:hover svg {
  transform: scale(1.1);
}

.slideshow__autoplay--paused .icon-pause,
.slideshow__autoplay:not(.slideshow__autoplay--paused) .icon-play {
  visibility: hidden;
  opacity: 0;
  transform: scale(.8)
}
.vtslideshow .banner__text{
    font-size: calc(var(--font-body-scale) * 30px);
    letter-spacing: 4px;
    text-transform: capitalize;
    color: rgb(0, 0, 0,.6);
}
.vtslideshow .banner__heading{
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.vtslideshow .slideshow__text .banner__heading.slidehsmall{
    font-size: calc(var(--font-body-scale) * 30px);
}
.vtslideshow .slideshow__text .banner__heading.slidehmedium{
    font-size: calc(var(--font-body-scale) * 35px);
}
.vtslideshow .slideshow__text .banner__heading.slidehlarge{
    font-size: calc(var(--font-heading-scale) * 40px);
}
.vtslideshow .slideshow__text p.banner__text{
    font-size: calc(var(--font-body-scale) * 18px);
    margin: 0;
    text-transform: capitalize;
    line-height: 24px;
    margin-bottom: 10px;
}
.vtslideshow .slideshow__text .banner__buttons a.button {
    margin-top: 20px; 
    padding: 10px 25px;
    text-transform: capitalize;
    font-size: calc(var(--font-body-scale) * 16px);
}
.banner__content--middle-right .slideshow__text .vtsaddtext,
.banner__content--top-right .slideshow__text .vtsaddtext,
.banner__content--bottom-right .slideshow__text .vtsaddtext{
    margin-right: 0;
}
.banner__content--middle-left .slideshow__text .vtsaddtext,
.banner__content--top-left .slideshow__text .vtsaddtext,
.banner__content--bottom-left .slideshow__text .vtsaddtext{
    margin-left:0;
}
.slideshow__text .vtsaddtext{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.banner__content--middle-right .slideshow__text .banner__text span::after,
.banner__content--top-right .slideshow__text .banner__text span::after,
.banner__content--bottom-right .slideshow__text .banner__text span::after,
.slideshow__text.slideshow__text--right .banner__text span::after,
.banner__content--middle-left .slideshow__text.slideshow__text--right .banner__text span::after,
.banner__content--top-left .slideshow__text.slideshow__text--right .banner__text span::after,
.banner__content--bottom-left .slideshow__text.slideshow__text--right .banner__text span::after{
    margin: 15px 0 auto auto;
}

.banner__content--middle-left .slideshow__text .banner__text span::after,
.banner__content--top-left .slideshow__text .banner__text span::after,
.banner__content--bottom-left .slideshow__text .banner__text span::after,
.slideshow__text.slideshow__text--left .banner__text span::after{
   margin: 15px auto auto 0;
}
.slideshow__text-wrapper .slideshow__text.slideshow__text--center .banner__text span::after{
   margin: 15px auto auto;
}
.slideshow__text .banner__text span::after{
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0);
  width: 100px;
  position: relative;
  height: 2px;
  display: block;
  margin: 15px auto auto;
}
@media (min-width: 768px) and (max-width: 1199px){
    .vtslideshow .slideshow__text .banner__heading.slidehsmall{
        font-size: calc(var(--font-body-scale) * 20px)
    }
    .vtslideshow .slideshow__text .banner__heading.slidehmedium{
        font-size: calc(var(--font-body-scale) * 25px)
    }
    .vtslideshow .slideshow__text .banner__heading.slidehlarge{
        font-size: calc(var(--font-body-scale) * 30px);
    }
    .vtslideshow .banner__heading{
      margin-bottom: 10px;
    }
    .vtslideshow .banner__text {
        font-size: calc(var(--font-body-scale) * 22px);
        letter-spacing: 3px;
    }

    .banner__content--middle-right .slideshow__text .banner__text span::after,
    .banner__content--top-right .slideshow__text .banner__text span::after,
    .banner__content--bottom-right .slideshow__text .banner__text span::after,
    .slideshow__text.slideshow__text--right .banner__text span::after,
    .banner__content--middle-left .slideshow__text.slideshow__text--right .banner__text span::after,
    .banner__content--top-left .slideshow__text.slideshow__text--right .banner__text span::after,
    .banner__content--bottom-left .slideshow__text.slideshow__text--right .banner__text span::after{
        margin: 10px 0 auto auto;
    }

    .banner__content--middle-left .slideshow__text .banner__text span::after,
    .banner__content--top-left .slideshow__text .banner__text span::after,
    .banner__content--bottom-left .slideshow__text .banner__text span::after,
    .slideshow__text.slideshow__text--left .banner__text span::after{
       margin: 10px auto auto 0;
    }
    .slideshow__text-wrapper .slideshow__text.slideshow__text--center .banner__text span::after{
       margin: 10px auto auto;
    }
}
@media (max-width: 767px){
    .vtslideshow .banner__content{
        padding: 30px 10px 60px 10px;
    }
    .vtslideshow .banner__heading{
        margin-bottom: 10px;
    }
    .vtslideshow .slideshow__text .banner__heading.slidehsmall{
        font-size: calc(var(--font-body-scale) * 18px)
    }
    .vtslideshow .slideshow__text .banner__heading.slidehmedium{
        font-size: calc(var(--font-body-scale) * 20px)
    }
    .vtslideshow .slideshow__text .banner__heading.slidehlarge{
        font-size: calc(var(--font-body-scale) * 24px)
    }
    .vtslideshow .slideshow__text .banner__buttons a.button {
        margin-top: 10px;
        font-size: calc(var(--font-body-scale) * 14px);
        padding: 5px;
        min-width: 126px;
        min-height: 39px;
        font-weight: 500;
    }
    .slideshow__text .vtsaddtext{
        margin-top: 15px;
    }
    .slideshow__text.slideshow__text-mobile--center .banner__text span:after{
       margin: 10px auto auto;
    }
    .slideshow__text.slideshow__text-mobile--left .banner__text span:after{
       margin: 10px auto auto 0;
    }
    .slideshow__text.slideshow__text-mobile--right .banner__text span:after{
       margin: 10px 0 auto auto;
    }
    .vtslideshow .banner__text {
        font-size: calc(var(--font-body-scale) * 17px);
        letter-spacing: 3px;
    }
    .slideshow__text-mobile--right,.slideshow__text-mobile--left,.slideshow__text-mobile--center{
      max-width: 390px;
    }
    .slideshow__text-mobile--right{
       margin: 0 0 0 auto;
    }
    .slideshow__text-mobile--left{
      margin: 0 auto 0 0 ;
    }
    .slideshow__text-mobile--center{
      margin: 0  auto;
    }
}

@media (max-width: 575px){
  .slideshow__text-mobile--right, .slideshow__text-mobile--left, .slideshow__text-mobile--center {
      max-width: 290px;
  }
  .vtslideshow .banner__text {
      font-size: calc(var(--font-body-scale) * 14px);
      letter-spacing: 2px;
  }
  .vtslideshow .slideshow__text .banner__buttons a.button {
      margin-top: 5px;
      font-size: calc(var(--font-body-scale) * 12px);
      min-width: 110px;
      min-height: 34px;
  }
}
