
slider-component {
  --desktop-margin-left-first-item: max(5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2));
  position: relative;
  display: block;
}

slider-component.slider-component-full-width {
  --desktop-margin-left-first-item: 1.5rem;
}
@media screen and (max-width: 991px) {
  .no-js slider-component .slider {
    padding-bottom: 3rem;
  }
}

.slider__slide {
  --focus-outline-padding: 0.5rem;
  --shadow-padding-top: calc(var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius));
  --shadow-padding-bottom: calc(var(--shadow-vertical-offset) + var(--shadow-blur-radius));
  scroll-snap-align: start;
  flex-shrink: 0;
  padding-bottom: 0;
}


.slider--everywhere {
  position: relative;
  flex-wrap: inherit;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 1rem;
}

.slider.slider--everywhere .slider__slide {
  margin-bottom: 0;
  scroll-snap-align: center;
}

/* Scrollbar */

.slider {
  scrollbar-color: rgb(0, 0, 0) rgba(0, 0, 0, 0.04);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.4rem;
  display: none;
}

.no-js .slider {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}

.no-js .slider::-webkit-scrollbar {
  display: initial;
}

.slider::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 0.4rem;
  border: 0;
}

.slider::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.04);
  border-radius: 0.4rem;
}

.slider-counter {
  display: flex;
  justify-content: center;
  min-width: 4.4rem;
}

@media screen and (min-width: 768px) {
  .slider-counter--dots {
    margin: 0 1.2rem;
  }
}

.slider-counter__link {
  padding: 1rem;
}

@media screen and (max-width: 767px) {
  .slider-counter__link {
    padding: 0.7rem;
  }
}

.slider-counter__link--dots .dot {
    width:12px;
    height:12px;
    border-radius:50%;
    border:.1rem solid rgba(0, 0, 0,.5);
    padding:0;
    display:block
}

.slider-counter__link--active.slider-counter__link--dots .dot {
  background-color: rgb(0, 0, 0);
}

.slider-counter__link--dots:not(.slider-counter__link--active):hover .dot {
  border-color: rgb(0, 0, 0);
}

.slider-counter__link--dots .dot,
.slider-counter__link--numbers {
  transition: transform 0.2s ease-in-out;
}

.slider-counter__link--active.slider-counter__link--numbers,
.slider-counter__link--dots:not(.slider-counter__link--active):hover .dot,
.slider-counter__link--numbers:hover {
  transform: scale(1.1);
}

.slider-counter__link--numbers {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.slider-counter__link--numbers:hover {
  color: rgb(0, 0, 0);
}

.slider-counter__link--active.slider-counter__link--numbers {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .slider:not(.slider--everywhere):not(.slider--desktop) + .slider-buttons,
  .vtcollfea .slider:not(.slider--everywhere):not(.slider--desktop) + .vthomesbtn {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .slider--desktop:not(.slider--tablet) + .slider-buttons,
  .vtcollfea .slider--desktop:not(.slider--tablet) + .vthomesbtn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .slider--mobile + .slider-buttons,
  .vtcollfea .slider--mobile + .vthomesbtn {
    display: none;
  }
}

.slider-button {
    color: rgba(0, 0, 0,.75);
    background: transparent;
    border: none;
    cursor: pointer;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center
}
/*.slider-button:not([disabled]):hover {
  color: rgb(0, 0, 0);
}*/
.slider-button .icon {
  height: 0.6rem;
}
.slider-button[disabled]{
  cursor: not-allowed;
}
.slider-button[disabled] .icon {
  color: rgba(var(--color-base-background-1), 0.6);
  cursor: not-allowed;
}

.slider-button--next .icon {
  transform: rotate(-90deg);
}

.slider-button--prev .icon {
  transform: rotate(90deg);
}
.progallerybtn .slider-button {
    color:rgba(0, 0, 0,.75);
    background:rgba(0, 0, 0,.05);
    border:none;
    cursor:pointer;
    width:30px;
    height:30px;
    display:inline-block;
    align-items:center;
    justify-content:center;
    transition:.3s ease;
    border-radius:0;
    text-align: center;
}
.progallerybtn .slider-button:not([disabled]):hover {
    background:var(--color-vtmaincolors-text);
    color: rgb(var(--color-base-background-1))
}
.progallerybtn .slider-button .icon {
    height:.6rem;
    margin-top:-2px;
    transition:unset
}