.collection-hero__image-container{
    border-radius: 0px;
    margin-bottom: 15px;
}
.collection-hero__description{
    color: rgba(0, 0, 0,.5);
}
.vtmain_bnr{
    margin-bottom: 30px;
}
@media (max-width: 991px){
    .vtmain_bnr{
        margin-bottom: 15px;
    }   
}