predictive-search {
    position: relative;
    display: block;
}

.predictive-search {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    z-index: 1000;
    background: #fff;
    border-radius: 0;
}

#predictive-search-results {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 15px;
    border-radius: 0;
}

predictive-search[open] .predictive-search,
predictive-search[loading] .predictive-search {
    display: block;
}

.predictive-search__heading {
    margin: 0 auto 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(var(--font-body-scale) * 18px);
}

predictive-search .spinner {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 0;
}

.predictive-search__heading .spinner {
    margin: 0 0.2rem 0 2rem;
}

predictive-search:not([loading]) .predictive-search__heading .spinner,
predictive-search:not([loading]) .predictive-search__loading-state,
predictive-search:not([loading]) .predictive-search-status__loading {
    display: none;
}

predictive-search[loading] .predictive-search__loading-state {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

predictive-search[loading] .predictive-search__heading~.predictive-search__loading-state,
predictive-search[loading] .predictive-search__results-list:first-child {
    display: none;
}

.predictive-search__item {
    display: flex;
    text-align: left;
    width: 100%;
}

.predictive-search__item--link {
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-column-gap: 0rem;
    grid-template-areas: 'product-image product-content';
    align-items: center;
    margin-bottom: 15px;
}

.predictive-search__item-content {
    grid-area: product-content;
    display: flex;
    flex-direction: column;
    line-height: normal;
}

.predictive-search__item-content--centered {
    justify-content: center;
}

.predictive-search__item-vendor {
    font-size: 0.9rem;
}

.predictive-search__item-heading {
    font-size: calc(var(--font-body-scale) * 16px);
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 5px;
}

.predictive-search__item--term {
    justify-content: space-between;
    align-items: center;
    padding: 0;
    word-break: break-all;
    margin: 0;
    background-color: #fff;
    font-size: calc(var(--font-body-scale) * 16px);
    height: auto;
}

.predictive-search__item--term .icon-arrow {
    flex-shrink: 0;
    width: 24px;
}

.predictive-search__image {
    grid-area: product-image;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

predictive-search .price .price-item {
    font-size: calc(var(--font-body-scale) * 16px);
}

predictive-search .price--on-sale .price-item--regular {
    font-size: calc(var(--font-body-scale) * 14px);
}

#predictive-search-results .price .vtvariantbadges {
    display: none;
}