.collection-hero {
    margin-bottom: 30px;
}

.collection-hero__image-container {
    margin-bottom: 15px;
}

.collection-hero__description {
    color: rgba(0, 0, 0, .5);
}

@media (max-width: 991px) {
    .collection-hero {
        margin-bottom: 15px;
    }
}