#product-grid {
    padding: 0;
    list-style: none;
    margin-left: -15px;
    margin-right: -15px;
}

#product-grid .product-item {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

#product-grid .vtlistpdesc {
    margin: 0 0 10px 0;
    font-size: 13px;
}

#product-grid .vtproduct-container .product-form .vtbtngrp {
    transition: unset;
}

/* product-list */
#product-grid.product-list .vtproduct-container .card {
    width: 100%;
    flex-direction: row;
    padding: 15px;
    column-gap: 15px;
    border: 1px solid rgba(0, 0, 0, .08);
}

#product-grid.product-list .vtimgblock {
    float: left;
    width: 30%;
}

#product-grid.product-list .vtproductdes {
    float: left;
    width: 70%;
    text-align: left;
    padding: 0;
}

#product-grid.product-list .vtproduct-container .vtvariantbadges {
    top: 15px;
    left: 15px;
}

#product-grid.product-list .product-form .cartb,
#product-grid.product-list .product-form .vtquickv,
#product-grid.product-list .product-form .wishlist {
    border: 1px solid rgba(0, 0, 0, .08);
}

#product-grid.product-list .vtproduct-container .product-form .vtbtngrp {
    position: unset;
    opacity: 1;
    text-align: left;
    justify-content: left;
}

/* product-grid */
#product-grid.product-grid {
    display: flex;
}

#product-grid.product-grid .vtlistpdesc {
    display: none;
}

#product-grid.product-grid .product-item {
    width: 33.3333333%;
}

#product-grid.product-grid.product-grid-2 .product-item {
    width: 50%;
}

@media(min-width: 1200px) {
    #product-grid.product-grid.product-grid-4 .product-item {
        width: 25%;
    }

    #product-grid.product-grid.product-grid-5 .product-item {
        width: 20%;
    }
}

@media(max-width: 767px) {
    #product-grid.product-grid .product-item {
        width: 50%;
    }
}

/* Search Template */
.template-search .vtsearchpages .card__text {
    font-size: calc(var(--font-body-scale) * 16px);
    margin: 0;
}

.template-search .vtsearchpages .card-article-info {
    font-size: calc(var(--font-body-scale) * 14px);
}

.template-search .vtsearchpages .card__content {
    padding: 10px;
}

.template-search .vtsearchpages .card__badge {
    margin: 10px;
}

.template-search .vtsearchpages .card__inner .card__badge span {
    position: unset;
}

.template-search .vtsearchpages.card-wrapper .card {
    height: 100%;
    background: rgba(0, 0, 0, 0.03);
    display: block;
}

.vtsearchblog .card .media {
    position: unset;
}

.vtsearchblog .card__text {
    font-size: calc(var(--font-body-scale) * 16px);
    margin-top: 10px;
    margin-bottom: 10px;
}