/* Grid/List */
.vtsortbar {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 15px 20px 15px 15px;
  justify-content: space-between;
}

.vtglbtn {
  display: flex;
}

.vtglbtn button {
  background-color: transparent;
  border: none;
  padding: 0;
  min-width: 40px;
  min-height: 40px;
}

.vtglbtn button svg {
  width: 23px;
  height: 23px;
  fill: rgba(0, 0, 0, 0.5);
}

.vtlistgridbtn.active svg,
.vtlistgridbtn svg:hover {
  fill: rgb(0, 0, 0);
}
/* Sorting */
.facet-filters {
  align-items: flex-start;
  display: flex;
  grid-column: 2;
  grid-row: 1;
}

.facet-filters__label {
  display: block;
  margin: 0;
  font-size: inherit;
}

.facet-filters__label label {
  margin-bottom: 0;
}

.facet-filters__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  cursor: pointer;
  height: 4.5rem;
  padding: 0 1.5rem;
  min-width: 25rem;
  margin-top: 2.4rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.55);
}

.facet-filters__summary::after {
  position: static;
}

.facet-filters__field {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  column-gap: 5px;
}

.facet-filters__sort {
  font-size: 13px;
}

.facets__form {
  display: grid;
  gap: 0 3.5rem;
  grid-template-columns: 1fr max-content max-content;
}

.facets__wrapper {
  align-items: center;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
}

.facets__heading {
  display: block;
  margin: 0;
}

.facets__reset {
  margin-left: auto;
}

.facets__disclosure {
  margin-left: 1.5rem;
}
/*  */
.facets__summary {
  margin-bottom: 0;
  list-style: none;
}

.facets__disclosure fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.facets__disclosure[open] .facets__summary,
.facets__summary:hover {
  color: rgb(0, 0, 0);
}

.facets__disclosure[open] .facets__display {
  animation: animateMenuOpen 0.25s ease;
}

.facets__summary span {
  transition: text-decoration var(--duration-short) ease;
}

.disclosure-has-popup[open]>.facets__summary::before {
  z-index: 2;
}

.facets__summary>span {
  line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.facets__form-vertical .facets__summary .icon-caret {
  position: absolute;
  right: 0;
  top: calc(50% - .6rem);
}

.facets__display {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  width: 20rem;
  max-height: 25rem;
  overflow-y: auto;
}

.facets__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: rgb(0, 0, 0);
  z-index: 1;
}

.facets__list {
  padding: 15px;
}

.facets__item {
  display: flex;
  align-items: center;
}

.facets__item label,
.facets__item input[type='checkbox'] {
  cursor: pointer;
}

.facet-checkbox {
  padding: 8px 0;
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  word-break: break-word;
  margin: 0;
}

.no-js .facet-checkbox input[type='checkbox'] {
  z-index: 0;
}

.facet-checkbox:hover {
  color: var(--color-vtmaincolors-text);
}

.facet-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 1;
  width: 20px;
  height: 20px;
  background-position: 50%;
  background-size: cover;
  top: 8px;
  left: 0;
  z-index: -1;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.facet-checkbox>svg {
  background-color: rgb(0, 0, 0);
  margin-right: 10px;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  transition: 0.3s ease;
  opacity: 0;
}

.facet-checkbox .icon-checkmark {
  visibility: hidden;
  position: absolute;
  left: 0;
  z-index: 2;
  top: 8px;
  opacity: 1;
}

.facet-checkbox>input[type='checkbox']:checked~.icon-checkmark {
  visibility: visible;
  background: var(--color-vtmaincolors-text);
  color: rgb(0, 0, 0);
  padding: 2px;
  border-radius: 5px;
}

.facet-checkbox.catfiltercolor input[type="checkbox"],
.mobile-facets__label.catfiltercolor input[type="checkbox"] {
  width: 29px;
  height: 29px;
}

.facet-checkbox.catfiltercolor>svg,
.mobile-facets__label.catfiltercolor>svg {
  width: 28px;
  height: 28px;
}

.facet-checkbox.catfiltercolor>input[type="checkbox"]:checked~.icon-checkmark,
.mobile-facets__label.catfiltercolor>input[type="checkbox"]:checked~.icon-checkmark {
  width: 29px;
  height: 29px;
  padding: 6px;
  border-radius: 5px;
}

.facet-checkbox--disabled {
  color: rgba(0, 0, 0, 0.4);
}

.facets__price {
  display: flex;
  padding: 15px;
}

.facets__price .field+.field-currency {
  margin-left: 1rem;
}

.facets__price .field {
  align-items: center;
}

.facets__price .field-currency {
  align-self: center;
  margin-right: 0.6rem;
}

.facets__price .field__label {
  left: 1.5rem;
}

button.facets__button {
  min-height: 0;
  margin: 0 0 0 0.5rem;
  box-shadow: none;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.facets__button-no-js {
  transform: translateY(-0.6rem);
}

.active-facets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 2;
  margin-top: -0.5rem;
}

.active-facets__button {
  display: block;
  margin-top: 12px;
  margin-bottom: 1px;
  margin-right: 10px;
}

span.active-facets__button-inner {
  color: rgb(0, 0, 0);
  box-shadow: 0 0 0 0.1rem rgb(0, 0, 0);
  font-size: 13px;
  min-height: 0;
  min-width: 0;
  padding: 8px;
  display: flex;
  align-items: stretch;
}

span.active-facets__button-inner:before,
span.active-facets__button-inner:after {
  display: none;
}

@media screen and (max-width: 991px) {
  span.active-facets__button-inner {
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
  }
}

.active-facets__button svg {
  align-self: center;
  flex-shrink: 0;
  margin-left: 0.6rem;
  margin-right: -0.2rem;
  pointer-events: none;
  width: 1.2rem;
}

.active-facets facet-remove:only-child {
  display: none;
}

.facets .active-facets .active-facets-filter:only-child>facet-remove {
  display: none;
}

.facets .active-facets-filter {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.facets .active-facets-filter .active-facets__button-wrapper {
  padding-top: 0;
  display: flex;
  align-items: flex-start;
}

.facets .active-facets__button {
  margin-top: 0;
}

.active-facets__button.disabled {
  pointer-events: none;
}

.product-count {
  align-self: center;
  position: relative;
  text-align: right;
}

.product-count__text {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
}

.product-count__text.loading {
  visibility: hidden;
}

.product-count .loading-overlay__spinner,
.product-count-vertical .loading-overlay__spinner {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.8rem;
}

.product-count__text.loading+.loading-overlay__spinner {
  display: block;
}

.facets .active-facets__button {
  margin-bottom: 10px;
}
