.pagination__item {
    background: rgba(0, 0, 0,.03);
    border-radius: 5px;
    min-width: 40px;
    min-height: 40px;
    display: inline-block;
    vertical-align: middle;
    font-size: calc(var(--font-body-scale) * 16px);
    padding-top: 8px;
    color: rgba(0, 0, 0);
}
.pagination__item.pagination__item--current,.pagination__item:hover{
    background: rgba(0, 0, 0);
    color: rgb(0, 0, 0)
}
.pagination-wrapper .pagination{
    display: block;
    text-align: center;
}
.pagination__list > li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
.pagination__item:hover svg{
    fill: rgb(0, 0, 0);
}
.pagination-wrapper{
    margin-top: 30px;
}
@media (max-width: 991px){
    .pagination__item{
        min-width: 30px;
        min-height: 30px;
        font-size: calc(var(--font-body-scale) * 14px);
        padding-top: 5px;
    }
}