.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media only screen and (max-width: 767px) {
  .list-social {
    justify-content: center;
  }
}

.list-social__item .icon {
  height: 18px;
  width: 18px;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 0 15px;
  color: rgb(0, 0, 0);
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}
