.product-card .product-card__image-wr {
    position: relative;
    overflow: hidden;
}

.product-card .product-card__image-wr .product-card__image {
    display: block;
    margin: 0 auto;
    height: 0;
    padding-bottom: var(--ratio-percent);
}

.product-card .product-card__image-wr .product-card__image img,
.product-card .product-card__image-wr .product-card__image svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
    object-fit: cover;
}

.product-card .product-card__image-wr .product-card__image img.second-image {
    opacity: 0;
    transition: opacity .45s ease, transform .45s ease 0s;
}

.product-card:hover .product-card__image-wr .product-card__image img.second-image {
    opacity: 1;
}