.wr-menu .navbar-toggler{
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 100%;
    min-width: 26px;
    min-height: 26px;
    margin: 0;
    transition: all .3s ease-in-out;
    display: inline-block;
    position: relative;
}
.vtsimplemenuxs  .vtmenuinner .wp_atitls{
    font-weight: 600; 
}
#under-menu .wp_submenus_dep .vtmenuinner .list-menu li{
  margin:0;
  border: none;
  padding:5px 0;
}
#under-menu .wp_submenus_dep .vtmenuinner .list-menu li .link--text{
  font-size: calc(var(--font-body-scale) * 12px);
  color: rgb(0, 0, 0);
}
.wr-menu .cate {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
.ico-menu {
    position: relative;
    width: 15px;
    top: -5px;
    margin: 0 auto;
    left: -8px
}
.ico-menu .bar:nth-child(1):after {
    transition-delay: .1s
}
.ico-menu .bar:nth-child(2):after {
    transition-delay: .2s
}
.ico-menu .bar:nth-child(3):after {
    transition-delay: .3s
}
.ico-menu .bar:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    background: rgb(0, 0, 0);
    transition:.3s;
    transition-delay: 0s
}
.ico-menu .bar:nth-child(1) {
    top: 0;
    width: 17px
}
.ico-menu .bar:nth-child(2) {
    top: 5px;
    width: 17px
}
.ico-menu .bar:nth-child(3) {
    top: 10px;
    width: 17px
}
.ico-menu .bar {
    position: absolute;
    height: 1px;
    background-color: rgb(var(--color-base-text));
    overflow: hidden
}
.bar {
    height: 12px;
    width: 20px;
    display: inline-block
}
.wr-menu:hover .ico-menu .bar:after {
    left: 0
}
#under-menu{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    background: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0,0.08);
    border-radius: 5px;
    margin-top: 25px;
}
#under-menu .list-menu {
    display: block;
}
#under-menu .list-menu > li {
    display: block;
}
.wr-menu{
    cursor: pointer;
    border-radius: var(--buttons-radius);
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(var(--color-base-text));
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0 15px;
    min-height: 46px;
    background: var(--color-base-accent-1);
}
.vtmenubtm{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.vtsecmenu ul{
    gap: 30px;
}
.vthseeall {
    margin-top: 15px;
}
.vtsecmenu li a {
    text-transform: capitalize;
    font-weight: 500;
    color: rgb(0, 0, 0,.8);
}
.vtsimplemenuxs .list-menu__item {
    font-size: calc(var(--font-body-scale) * 14px);
    text-transform: capitalize;
    font-weight: var(--font-body-weight);
    justify-content: space-between;
    color: rgb(0, 0, 0,.8);
}
.header__inline-menu details > .header__submenu summary,.header__inline-menu details > .header__submenu li a {
    text-transform: capitalize;
    font-size: calc(var(--font-body-scale) * 14px);
    font-weight: var(--font-body-weight);
}
.list-menu--right {
    right: 0;
}

.list-menu--disclosure {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 30px 15px;
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.list-menu__item--active:hover {
  text-decoration-thickness: 0.2rem;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}

.vtmenufull{
    left: 0;
    right: 0;
    min-width: 950px;
}
.vtmenuinner{
    min-width: 210px;
}
.vtmenufull .vtmenuinner{
    min-width: auto;
}
.list-menu__item{
    word-break: break-word;
}
.vtsimplemenuxs .header__submenu .list-menu__item {
    font-size: calc(var(--font-body-scale) * 15px);
}
.vtmgproduct .vthprice {
  margin-bottom: 0;
}
/* megamenu gallery */
.vtmenugallery {
    margin-top: 15px;
}
.vtmenugallery p{
    font-size: calc(var(--font-body-scale) * 16px);
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 0;
}
.vtmenugllazy,.vtmenusimglazy{
    text-align: center;
}
/* megamenu blog */
.vthblog{
    width: 24%;
    position: relative;
}
.header-wrapper .progallerybtn .slider-button .icon{
    position: unset;
}
.header-wrapper .blog_title{
    margin-top: 10px;
    margin-bottom: 10px;
    word-break: break-word;
}
.header-wrapper .blog_date{
    margin-bottom: 0;
}
.header-wrapper .progallerybtn {
    margin-top: 10px;
}
/* megamenu product */
.vtmgproduct .grid,.vtmgblgtop {
    justify-content: center;
}
.vtmgproduct .grid,.vtmgblgtop{
   column-gap: 10px;
}
.vtmgproduct .grid__item {
  width: 15%;
  max-width: 15%;
  border: 1px solid rgb(0, 0, 0,.1);
  padding: 8px;
  border-radius: 0;
}
.vtmenugllazy img{
  border-radius: 0;
}

.header__submenu slider-component .icon-caret{
    position: unset;
}
.vtmgproduct .vtvariantbadges{
    display: none;
}
.vtmgproduct {
    margin-top: 15px;
}
.vtmgproduct .product-title {
    font-size: calc(var(--font-body-scale) * 16px);
    padding: 0 0 5px;
}
.vtmgproduct .price .price-item {
    font-size: calc(var(--font-body-scale) * 16px);
}
.vtmgproduct .price .price-item.price-item--regular{
    font-size: calc(var(--font-body-scale) * 14px);
}
.vtmgproduct .card--standard .vtproductdes {
    padding-top: 10px;
}
/* megamenu banner */
.vtmegaimg a,.vtmegaimg a,.vtmenusimg a,.blog_img a,.vtmenugallery a,.blog_title a{
    display: block;
}
.header-wrapper .blog_img {
    padding: 5px;
}
.header__submenu {
    text-align: left;
}
@media (min-width: 1200px){
  #under-menu ul.list-menu{
      max-height: 493px;
      overflow: auto;
  }
  .vtmgblgtop{
        padding: 0 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px){
    #under-menu ul.list-menu {
        max-height: 423px;
        overflow: auto;
    }
}
@media (min-width: 1200px) and (max-width: 1589px){
    .vtmenufull{
      min-width: 921px;
    }
    .list-menu--disclosure {
      padding: 30px 0px;
    }
    .vtmgblgtop{
        padding: 0 10px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .vtmgproduct .product-title {
        font-size: calc(var(--font-body-scale) * 14px);
        padding: 0 0 5px;
    }
    .vtmgproduct .price .price-item {
        font-size: calc(var(--font-body-scale) * 14px);
    }
    .vtmgblgtop{
        padding: 0 10px;
    }
    #under-menu ul.list-menu{
        max-height: 348px;
        overflow: auto;
    }
    .vtmgproduct .price .price-item.price-item--regular{
        font-size: calc(var(--font-body-scale) * 12px);
    }
    .vtmgproduct .card--standard .vtproductdes {
        padding-top: 10px;
    }
    .vtmenufull{
        min-width: 720px;
    }
    .vtmenubtm{
        column-gap: 20px;
    }
}
@media (max-width:  991px){
    .vtmenugallery{
        row-gap: 15px;
    }
    .vtmgproduct .product-title {
        font-size: calc(var(--font-body-scale) * 14px);
        padding: 0 0 5px;
    }
    .vtmgproduct .price .price-item {
        font-size: calc(var(--font-body-scale) * 14px);
    }
    .vtmgproduct .price .price-item.price-item--regular{
        font-size: calc(var(--font-body-scale) * 12px);
    }
    .vtmgproduct .card--standard .vtproductdes {
        padding-top: 10px;
    }
    .menu-drawer__close-button {
        background: rgba(0, 0, 0,.04);
        margin-bottom: 10px;
    }
    .vtmenusimg [class*='col-'],.vtmgproduct{
        margin: 10px 0;
    }
    .vtmgproduct .card--standard,.vthblog{
        margin-bottom: 15px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .vtmgproduct .grid__item {
        width: 33.33%;
        max-width: 33.33%;
    }
    #menu-drawer{
        margin-top: 11px;
    }
    .header--middle-left #menu-drawer{
        margin-top: 0;
    }
    .vthblog{
        width: 50%;
    }
}
@media (max-width: 767px){
    #menu-drawer{
        margin-top: 6px;
    }
    .header--middle-left #menu-drawer{
        margin-top: 0;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .vtmgproduct .grid__item {
        width: 33.33%;
        max-width: 33.33%;
    }
    .vtmenusimg [class*="col-"]{
        flex: 0 0 50%;
        max-width: 50%; 
    }
    .vthblog{
        width: 50%;
    }
}
@media (max-width: 575px) {
    .vtmgproduct .grid__item {
        width: 50%;
        max-width: 50%;
    }
    .vthblog{
        width: 100%;
    }
}
