.totals {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
}

.totals > * {
  margin: 0;
}
.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 15px;
}

.totals__subtotal-value {
  font-size: calc(var(--font-body-scale) * 22px);
  color: rgb(0, 0, 0);
}
.totals__subtotal{
  font-size: calc(var(--font-body-scale) * 16px);
  font-weight: 500;
}
.cart__ctas + .totals {
  margin-top: 2rem;
}

#main-cart-footer cart-note.cart__note.field::before,#main-cart-footer cart-note.cart__note.field::after{
    display: none;
}
#main-cart-footer #Cart-note{
    border: 1px solid rgba(0, 0, 0,0.08);
}