#product-grid {
    padding: 0;
    list-style: none;
}

#product-grid .grid__item {
    margin-bottom: 20px;
}

#product-grid .vtlistpdesc {
    margin: 0 0 10px 0;
    font-size: 13px;
}

#product-grid .vtproduct-container .product-form .vtbtngrp {
    transition: unset;
}

/* product-list */
#product-grid.product-list .grid__item {
    flex: 0 0 100%;
    max-width: 100%;
}

#product-grid.product-list .vtproduct-container .card {
    width: 100%;
    flex-direction: row;
    padding: 15px;
    column-gap: 15px;
    border: 1px solid rgba(0, 0, 0, .08);
}

#product-grid.product-list .vtimgblock {
    float: left;
    width: 30%;
}

#product-grid.product-list .vtproductdes {
    float: left;
    width: 70%;
    text-align: left;
    padding: 0;
}

#product-grid.product-list .vtproduct-container .vtvariantbadges {
    top: 15px;
    left: 15px;
}

#product-grid.product-list .product-form .cartb,
#product-grid.product-list .product-form .vtquickv,
#product-grid.product-list .product-form .wishlist {
    border: 1px solid rgba(0, 0, 0, .08);
}

#product-grid.product-list .vtproduct-container .product-form .vtbtngrp {
    position: unset;
    opacity: 1;
    text-align: left;
    justify-content: left;
}

#product-grid.product-list .grid__item:last-child .vtproduct-container {
    margin-bottom: 1px;
}

/* product-grid */
#product-grid.product-grid .vtlistpdesc {
    display: none;
}

/* Search Template */
.template-search .vtsearchpages .card__text {
    font-size: calc(var(--font-body-scale) * 16px);
    margin: 0;
}

.template-search .vtsearchpages .card-article-info {
    font-size: calc(var(--font-body-scale) * 14px);
}

.template-search .vtsearchpages .card__content {
    padding: 10px;
}

.template-search .vtsearchpages .card__badge {
    margin: 10px;
}

.template-search .vtsearchpages .card__inner .card__badge span {
    position: unset;
}

.template-search .vtsearchpages.card-wrapper .card {
    height: 100%;
    background: rgba(0, 0, 0, 0.03);
    display: block;
}

.vtsearchblog .card .media {
    position: unset;
}

.vtsearchblog .card__text {
    font-size: calc(var(--font-body-scale) * 16px);
    margin-top: 10px;
    margin-bottom: 10px;
}