@charset "UTF-8";
.text-right {
    text-align: left;
}
.text-left {
    text-align: right;
}
#shopify-section-header,#MainContent,.vtproduct-container,#shopify-section-footer,.testimonial .vttestisub,.vtquickmodel,.breadcrumb,.drawer__inner,
.vtslideshow .slideshow__text .banner__buttons a.button,.product,.deliveryinfo,.vtship,.vtblogimgdesc {
	direction: rtl;
}
.toprt,.banner__content{
	direction: ltr;
}
ul{
	padding: 0 0;
}
.dropdown-menu{
	right: 0;
	left: auto;
}
.product-tab-item_second .list-inline li.active .nav-link:after {
    left: 0;
    right: auto;
    border-color: transparent transparent transparent rgb(var(--color-background));
}
.dropdown-menu-right,#cart-icon-bubble .dropdown-menu,.slidedown_section .dropdown-menu {
    left: 0;
    right: auto;
}
.vthomesbtn button.slider-button--prev svg{
	transform: rotate(89deg);
}
.vthomesbtn button.slider-button--next svg{
	transform: rotate(-89deg);
}
button#scroll{
	left: 20px;
	right: auto;
}
.vtpopup-popducts{
	right: 30px;
	left: auto;
}
.vtclosepopup{
	left: -5px;
	right: auto;
}
.customer .field label, .field__label{
	right: 15px;
	left: auto;
}
/* Slide Arrow */
.share-button__button .icon-share{
	margin-left: 5px;
	margin-right: 0;
}
.vtproductdes,.headtleft,.imgbnrtext,.footer-block,.vtpopup-popducts .popinner .vtproduct-container .vtproductdes,.predictive-search__item,.vtcartddesc,
.rte,.vtsingleblog .tag-section,.article-template__comment-wrapper,.product__info-container,#myTabContent,.breadcrumb,.vtallcatpage .cless h2,
.collection-hero,.facets__item,.vtsortbar,.product-list .vtproduct-container .button-group,.facets__header,.cart-items thead th,.cart-items td,.vtproquickdesc,.cart-notification-product,
.customer,.field__input, .customer .field input,.predictive-search__item,.deliveryinfo li:last-child,.vtslicktopr .vtproductdes, .vtslickbest .vtproductdes,
.footer-block--newsletter h3, .ftsocial h3,.vtftleft,.footer__blocks-wrapper .h6, .vtftleft h3,.vtslickcattab .vtproductdes,.vtslickspe .vtproductdes,.vtship p,
.vtcartupsell .card__content,.upshead,ul.footer__list-social,.home-email h3, .wpvings h3,.wp_navside .nav, .product-tab-item_second .pro-tab,.collection-list__item .card__heading{
	text-align: right;
}
.customer select + svg, .select .icon-caret{
	left: 1.5rem;
	right: auto;
}
.customer .form__message svg, .form__message .icon {
    margin-left: .5rem;
    margin-right: 0;
}
/* Header */
.vtcarthtotal {
  	margin-right: 8px;
  	margin-left: auto;
}
.vthcartitem.vtqtyboth {
	right: 0;
	left: auto;
	margin-right: 30px;
	margin-left: auto;
}
.product-list .vtproduct-container .vtvariantbadges{
	right: 15px;
}
.vthcartitem, .vtheadwish .vtwishcount{
	left: 0px;
	right: auto;
}
.vtsecmenu,.header__submenu{
	text-align: right;
}
details[open] > .header__menu-item .icon-caret { 
    transform: rotate(90deg);  
}
.header__submenu.list-menu--disclosure{
	right: 100%;
	left: auto;
}
.header .search__button{
	left: 5px;
	right: auto;
}
.ico-menu{
	right: -8px;
	left: auto;
}
.header__menu-item .icon-caret{
	transform: rotate(90deg);
}
.drawer{
	justify-content: flex-start;
	right: 0;
	left: auto;
}
.drawer__inner{
	transform: translate(-100%);
}
.drawer.active .drawer__inner {
  	transform: translate(0%);
}
.vthcurr localization-form {
	border-right: 1px solid rgba(var(--color-foreground),.5);
	border-left: none;
	margin-right: 15px;
	padding-right: 15px;
	margin-left: auto;
	padding-left: 0;
}
.search__input.field__input{
	padding-left: 5rem;
	padding-right: 15px;
}
.search-modal__close-button{
	left: .3rem;
	right: auto;
}
.field__button,.vtheadcartdrop webi-cart-remove-button{
	left: 0;
	right: auto;
}
.headphone {
    margin-right: 10px;
    margin-left: auto;
}
.heading:before, .heading span:after, .vt_thander .pro-tab:before, .pro-tab .nav-tabs .nav-item.active .nav-link:before{
	right: 0;
	left: auto;
}
.deliveryinfo .grid__item:before{
	border: none;
}
.drawer__close{
	left: -5px;
	right: auto;
}
.search__button {
  left: var(--inputs-border-width);
  right: auto;
}
.fancybox-slide--html .fancybox-close-small{
	left: 0;
	right: auto;
}
.disclosure__list{
	text-align: right;
}
.header__menu-item .icon-caret{
	margin-right: 5px;
	margin-left: 0;
}
.card .icon-wrap {
	margin-right: .8rem;
	margin-left: 0;
}
.card .icon-wrap svg{
	transform: rotate(180deg);
}
.header--top-left .headlogo{
	text-align: right;
}
.slick-slider .slick-prev {
  left: 15px;
  right: auto;
}
.slick-slider .slick-next {
  left: 50px;
  right: auto;
}


/* Home Section */
.slider-button--prev .icon {
  transform: rotate(-90deg);
}
.slider-button--next .icon {
  transform: rotate(90deg);
}
.slideshow .slider-button--prev .icon {
  transform: rotate(90deg);
}
.slideshow .slider-button--next .icon {
  transform: rotate(-90deg);
}
.vtblogimgdesc a svg{
	margin-right: 5px;
	margin-left: auto;
	transform: rotateY(180deg);
}
.product__info-container .product-form__buttons .button--primary svg{
	transform: rotate(180deg);
}
#vtquickview .vtproleftimg .slider-button--next{
	left: -20px;
	right: auto;
}
#vtquickview .vtproleftimg .slider-button--prev{
	right: -20px;
	left: auto;
}
.slick-slider{
	direction: ltr;
}
.catpro-tab ul{
	direction: ltr;
	text-align: right;
}
.vtcartupsell .vthomesbtn{
	left: 0;
	right: auto;
}
.deliveryinfo .multis-svg{
	margin-left: 5px;
	margin-right: auto;
}
.vtproduct-container .vtvariantbadges{
	right: 0px;
	left: auto;
}
.footmiddle {
  	border-right: 1px solid rgb(var(--color-foreground),.1);
  	border-left: none;
}
.localization-form .disclosure__button svg{
	margin-right: 5px;
	margin-left: auto;
}
.swiper .swiper-wrapper .grid__item {
  margin-left: 20px;
  margin-right: 0;
}
.vtsettimer li span::after{
	left: -22px;
	right: auto;
}
@media (min-width: 768px) and (max-width: 1459px){
	.vtsettimer li span::after{
        left: -17px;
        right: auto;
    }
}
.vthalfstar{
	transform: rotateY(180deg);
}
.testiright img,.mfp-close{
	left: 0;
	right: auto;
}
.testimonial .items{
	text-align: right;
	margin-left: 100px;
	margin-right: auto;
}

.header__icons .slidedown_section, #cart-icon-bubble{
	margin-right: 10px;
	margin-left: auto;
}
#cart-icon-bubble #cart-icon-bubble{
	margin-right: 0;
	margin-left: auto;
}

.vtproduct-container .cartb span {
    margin-right: 5px;
    margin-left: auto;
}
.newsletter-form__field-wrapper button.btn-primary{
	margin-right: 10px;
	margin-left: auto;
}
.disclosure__list-wrapper,.facets__form-vertical .facets__summary .icon-caret{
	left: 0;
	right: auto;
}
.vtstockinfo-probar{
	right: 0;
	left: auto;
}
.vtstockinfo::before{
	margin-left: 8px;
	margin-right: auto;
}
.menu-drawer {
  transform: translate(100%);
  right: 0;
  left: auto;
}
.no-js details[open] > .menu-drawer, .js details[open].menu-opening > .menu-drawer, details[open].menu-opening > .menu-drawer__submenu {
  transform: translate(0);
}
.menu-drawer__utility-links{
	text-align: right;
}
.menu-drawer__account svg {
  margin-left: 10px;
  margin-right: auto;
}
.menu-drawer__menu-item > .icon-arrow{
	left: 15px;
	right: auto;
	transform: rotate(-180deg);
	margin-top: -6px;
}
.menu-drawer summary.menu-drawer__menu-item {
  padding-left: 5.2rem;
  padding-right: 15px;
}
.menu-drawer__close-button .icon-arrow {
  transform: none;
  margin-left: 1rem;
  margin-right: 0;
}
.cart-drawer .tax-note,.product-list .vtproduct-container .product-form .vtbtngrp,.facets__display-vertical{
	text-align: right;
}
.arrowrightw {
  	transform: none;
}
.arrowleftw {
	transform: rotate(180deg);
}
.determinate svg{
	left: 0;
	right: auto;
	transform: rotateY(180deg);
}
.cart-drawer__warnings .drawer__close{
	left: 15px;
	right: auto;
}
.header--top-left .search-modal__close-button.modal__close-button.link.searchwithbox, .header--top-center .search-modal__close-button.modal__close-button.link.searchwithbox{
	left: 115px;
	right: auto;
}
/* Product Page */
.vtproducttab .spr-container .spr-summary-actions-newreview{
	float: left;
}
.spr-container .spr-header-title,.spr-form-title,.new-review-form{
	text-align: right;
}
.spr-form-review-rating a, .spr-form-review-rating a:hover{
	float: right !important;
}
.breadcrumb .fa-angle-right,.vtallcatpage .cless h2 svg{
	transform: rotate(180deg);
}
.spr-summary-actions-newreview{
	float: left;
}
.product__info-container .spr-summary-starrating{
	margin: 0 0 0 6px;
}
.product__info-container .spr-starrating .spr-stars{
	margin-left: 0.5rem;
	margin-right: 0;
}
.accordion .icon-accordion{
	margin-left: 10px;
	margin-right: 0;
}
/* Collection Page */
.product-list .vtproductdes{
	padding: 0 15px 0 0;
}
.facets__display{
	right: 0;
	left: auto;
}
#product-grid.product-list .vtproduct-container .product-form .vtbtngrp{
	text-align: right;
	justify-content: right;
}
.facet-checkbox > svg{
	margin-left: 10px;
	margin-right: 0;
}
.customer select, .select__select{
	padding: 0 1.5rem 0 3rem;
}
.mobile-facets__sort .select__select{
	margin-right: .5rem;
	margin-left: 0;
}
.vtallcatpage .cless a:hover h2 .icon-wrap {
    left: -5px;
    right: auto;
}
input[type="checkbox"]{
	margin-left: .5rem;
	margin-right: 0;
}
.facets__price .field + .field-currency {
    margin-right: 1rem;
	margin-left: .6rem;
}
.facets__price .field-currency{
	margin-left: .6rem;
	margin-right: 0;
}
.facet-checkbox input[type="checkbox"],.facet-checkbox .icon-checkmark,.allslideprt .article-card .vtblogdate:after{
	right: 0;
	left: auto;
}
.facets__summary .icon-caret{
	left: 0;
	right: auto;
}
.vtcatsort #FacetFiltersForm{
	justify-content: left;
}
.facet-filters__sort{
	padding: 8px 8px 8px 1.75rem;
}
.facet-filters__sort + .icon-caret{
	left: 10px;
	right: auto;
}
.product-list .vtimgblock{
	float: right;
}
.product-list .vtproductdes{
	float: right;
	text-align: right;
}
.pagination__item .fa-angle-right,.pagination__item .fa-angle-left{
	transform: rotate(180deg);
}
.active-facets__button{
	margin-left: 10px;
	margin-right: 0;
}
.active-facets__button svg{
	margin-right: .6rem;
	margin-left: 0;
}
.mobile-facets__inner{
	margin-right: auto;
	margin-left: 0;
	text-align: right;
}
.mobile-facets__arrow, .mobile-facets__summary .icon-caret {
    margin-right: auto;
    margin-left: 0;
    transform: rotate(180deg);
}
.mobile-facets__close-button .icon-arrow{
	margin-left: 1rem;
	margin-right: 0;
}
.mobile-facets__close-button .icon-arrow{
	transform: none;
}
.mobile-facets__close{
	left: 15px;
	right: auto;
}
.js .disclosure-has-popup:not(.menu-opening) .mobile-facets__inner {
    transform: translateX(-105vw);
}
.select .icon-caret, .customer select + svg {
    left: calc(var(--inputs-border-width) + .5rem);
    right: auto;
}
.mobile-facets__close-button .icon-arrow {
  transform: none;
}
.mobile-facets__label > svg{
	margin-left: 15px;
	margin-right: 0;
}
/* Cart Page */

.cart__footer > div:only-child {
    margin-right: auto;
    margin-left: 0;
}
.cart__footer{
	text-align: left;
}
.totals > * + * {
    margin-right: 15px;
    margin-left: 0;
}
.homecolbnrin3 .vtsetbntxt{
	justify-content: flex-end;
}
.homecolbnrin1 .vtsetbntxt{
	justify-content: flex-start;
}
/* Other Page */
.article-template__link .icon-wrap{
	margin-left: 1rem;
	margin-right: 0;
}

.article-template__link svg,.predictive-search__item--term .icon-arrow,.vtrtaddress i{
	transform: rotate(180deg);
}
.vtquickmodel .close{
	left: 15px;
	right: auto;
}
.cart-notification{
	left: 0;
	right: auto;
}
.cart-notification__heading .icon-checkmark {
    margin-left: 1rem;
    margin-right: 0;
}
.cart-notification-product__image {
    margin-left: 15px;
    margin-right: 0;
}
.product-popup-modal__toggle{
	left: 10px;
	right: auto;
}
.product-popup-modal__content,.vtshiprtnsub{
	text-align: right;
}
.menu_badge{
	right: 5px;
	left: auto;
}
.customer button.vtaddrbtn{
	margin-left: 10px;
  	margin-right: 0
}
.totals{
	justify-content: flex-start;
}
@media (min-width: 1200px){
	.testiright > div::before{
		transform: rotate(90deg);
	}
}
@media (min-width: 992px){
	.active-facets__button svg {
		margin-left: -.4rem;
		margin-right: auto;
	}
	.product-tab-item_second .nav-link{
		padding-right: 0;	
	}
	.nav-item_second.active .nav-link, .nav-item_next.active .nav-link, .nav-item_third.active .nav-link{
		padding-right: 15px; 
	}   
}
@media (min-width: 768px){
	.cart__footer > * + * {
		margin-right: 4rem;
		margin-left: 0;
	}
	.vtftlangcur localization-form{
		margin-left: auto;
		margin-right: 20px;
	}
	.slideshow__autoplay.slider-button{
		border: none;
	}
	.vtftleft, .footer__blocks-wrapper .footer-block--menu {
	    border-left: 1px solid rgba(var(--color-foreground),.08);
	    border-right: none;
	}
	.facets-vertical .active-facets__button-remove {
		padding: 0 1rem 1rem 0;
	}
	.product-count-vertical {
		margin-right: 2.5rem;
		margin-left: auto;
	}
	.search-modal__close-button {
	    left: 1rem;
	    right: auto;
	}
  	.addresses form > div:nth-of-type(1) {
        padding-left: 2rem;
      	padding-right: 0;
    }
    .cart-item > td + td, .cart-items th + th {
	    padding-right: 15px;
	    padding-left: 0;
	}
	.facets-vertical .facets-wrapper, .vtverticalcoll .vtblank {
		padding-left: 30px;
		padding-right: 0;
	}
	.facets-vertical .facets__price .field:last-of-type {
		margin-right: 1rem;
		margin-left: auto;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.deliveryinfo li, .deliveryinfo li:last-child{
		text-align: center;
	}
}
@media (max-width: 991px){
	.slick-slider .slick-prev {
		left: 5px;
		right: auto;
	}
	.vthomesbtn button.slider-button--next svg {
	    transform: rotate(90deg);
	}
	.vthomesbtn button.slider-button--prev svg {
	    transform: rotate(-90deg);
	}
	.deliveryinfo li, .deliveryinfo li:last-child {
	    text-align: center;
	}
	.slick-slider .slick-next {
		left: 40px;
		right: auto;
	}
	.headlogo,header.header{
		text-align: right;
	}
	.vthcartitem{
		left: 0;
		right: auto;
	}
	.header--top-left .headlogo{
		margin-right: 40px;
		margin-left: auto;
	}
	.header--top-left header-drawer{
		right: 15px;
		left: auto;
	}
	.vtcartbth.header--top-left .tright{
		left: 15px;
		right: auto;
	}
	.header--top-left .tright{
		left: 7px;
		right: auto;
	}
	.header--top-left #menu-drawer, .header--top-center #menu-drawer {
		right: -15px;
		left: auto;
	}
	#menu-drawer{
		margin-right: 0;
		margin-left: auto;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.header__icons .slidedown_section, #cart-icon-bubble {
	  margin-right: 10px !important;
	  margin-left: auto !important;
	}
}
@media (max-width: 767px){
	.pro-tab .nav-tabs{
		padding: 0;
		margin-right: 0;
	}
	.mobile-facets__sort .select .select__select{
		padding: 8px 8px 8px 1.75rem;
	}
	.footer__blocks-wrapper .h6,.deliveryinfo ul{
		text-align: right;
	}
	.footer__blocks-wrapper .h6.toggle.collapsed::after{
		float: left;
	}
	.facets-container menu-drawer{
		left: 26px;
		right: auto;
		justify-content: left;
	}
	.header__icons .slidedown_section, #cart-icon-bubble {
  		margin-right: 0;
	}
	.vthcartitem.vtqtyboth {
		margin-right: 20px !important;
	}
}
@media (max-width: 450px){
	.wp_product_banner .beffect img {
	    transform: translate(110px);
	}
}