/* Password Section */
.full-height {
  height: 100%;
}

.password {
  height: 100%;
}

.password-header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-header h1 {
  margin: 0;
}

.password-link svg {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

.password-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.password-field .form__message {
  margin-top: 20px;
}

.password-button {
  margin-top: 20px;
  width: 100%;
}

.password__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-shopify {
  width: 5rem;
  height: 2rem;
}