.collection-list {
    display: flex;
    flex-wrap: wrap;
}

.collection-list .collection-item {
    width: 33.3333333%;
}

.collection-inner a {
    display: block;
}

.collection-inner .collection-media {
    margin-bottom: 10px;
    position: relative;
}

.collection-inner .collection-media::before {
    content: "";
    width: 100%;
    height: 0;
    padding-bottom: var(--ratio-percent);
}

.collection-inner .collection-media img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.collection-inner .collection-title {
    font-size: 18px;
    font-weight: 500;
}