.article-template__hero-container {
    max-width: 130rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
.vtsingleblog .article-template__hero-container .media{
  border-radius: 0;
}
.article-template__link {
    font-size: calc(var(--font-body-scale) * 18px);
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
.article-template__link .icon-wrap {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    transform: rotate(180deg);
}
.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
    margin-top: 1.5rem;
}
.article-template__comment-wrapper {
    margin-top: 30px;
}
.article-template__comment-wrapper h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: calc(var(--font-body-scale) * 20px);
    text-transform: capitalize;
}
.article-template__comment-wrapper #comment_form h2{
    font-size: calc(var(--font-body-scale) * 22px);
    margin-bottom: 15px;
}
.article-template__comments {
    margin-bottom: 40px;
}
.article-template__comments-fields,.article-template__comment-fields > * {
    margin-bottom: 30px;
}
.article-template__comments article {
    border-top: 1px solid rgba(0, 0, 0,0.08);
    padding-top: 15px;
    margin-top: 15px;
}
.article-template__comments-comment p{
    margin: 0;
}
.artblogdate{
    margin-top: 8px;
}
.article-template__hero-small {
    height: 11rem;
}
.article-template__hero-medium {
    height: 22rem;
}
.article-template__hero-large {
    height: 33rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .article-template__hero-small {
        height: 22rem;
    }
    .article-template__hero-medium {
        height: 44rem;
    }
    .article-template__hero-large {
        height: 66rem;
    }
}

@media screen and (min-width: 992px) {
    .article-template__hero-small {
        height: 27.5rem;
    }
    .article-template__hero-medium {
        height: 55rem;
    }
    .article-template__hero-large {
        height: 82.5rem;
    }
}

@media screen and (min-width: 768px) {
    .article-template__comment-fields {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
    }
}
.article-template__comment-warning {
    margin: 2rem 0 2.5rem;
}
.vtsingleblog{
    max-width: 1000px;
    margin: 0 auto;
}
.vtsingleblog .article-template__title {
    font-size: calc(var(--font-body-scale) * 22px);
    text-transform: capitalize;
    margin-bottom: 12px;
}
.vtsingleblog .vtblogdate{
    margin-bottom: 10px;
    color: rgba(0, 0, 0,.4);
}
.vtsingleblog .article-template__hero-container img{
    border-radius: 5px;
    margin-bottom: 15px;
}
.vtsingleblog .article-template__content{
    color: rgba(0, 0, 0,.5);
    margin-bottom: 20px;
}
.vtsingleblog .tag-section,.vtsingleblog .article-template__social-sharing{
    margin-bottom: 20px;
}
.vtsingleblog .tag-section a,.vtsingleblog .tag-section .meta-sep{
    color: var(--color-vtmaincolors-text);
    text-transform: uppercase;
    font-size: 12px;
}
.vtsingleblog .tag-section label{
    color: rgba(0, 0, 0,.5);
    margin: 0;
}
.vtformsuccess {
    font-size: calc(var(--font-body-scale) * 14px);
    background: #cce1c2;
    border-radius: 4px;
    padding: 8px 15px;
    margin-bottom: 15px;
}
.vtformerror {
    font-size: calc(var(--font-body-scale) * 14px);
    background: #f4dddd;
    border-radius: 4px;
    padding: 8px 15px;
    margin-bottom: 15px;
}
@media (max-width: 767px){
    .vtsingleblog .article-template__title{
        font-size: 16px;
    }
}