.footer-top {
    background-color: #f3f3f3;
}

/* Newsletter */
.newsletter-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.newsletter-wrap .newsheading {
    font-size: calc(var(--font-heading-scale) * 26px);
    margin: 0;
}

.newsletter-wrap .footer-block--newsletter {
    width: 60%;
}

.footer-block--newsletter .newsletter-form__field-wrapper .field {
    position: relative;
}

.footer-block--newsletter .newsletter-form__field-wrapper .field__input {
    width: 100%;
}

.footer-block--newsletter .newsletter-form__field-wrapper .button {
    position: absolute;
    top: 0;
    right: 0;
}

.footer-block--newsletter .newsletter-form__field-wrapper .button svg {
    fill: currentColor;
    width: 18px;
    height: 18px;
}

.footer-block--newsletter h3 {
    font-size: calc(var(--font-body-scale) * 22px);
    text-transform: capitalize;
    margin-bottom: 12px;
}

.footer-block--newsletter .newsletter-form__message {
    margin-top: 10px;
    font-size: calc(var(--font-body-scale) * 14px);
}

/*  */
.footer-midle .footer-logo {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}

.footer-blocks-wrapper {
    display: flex;
    gap: 30px;
}

.footer-blocks-wrapper .footer-heading {
    font-size: 20px;
    margin: 0 0 20px;
}

.footer-blocks-wrapper .footer-block {
    width: 100%;
}

.footer-block .vtfootcont svg {
    width: 20px;
    height: 20px;
}

.footer-block .vtfootcont ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 36px;
}

/* footer-bottom */
.footer-bottom .vtftpaym {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-top: 1px solid #ebebeb;
}

/* Footer Copyright */
.footer__copyright a {
    color: inherit;
}

.footer__copyright a:hover {
    color: var(--color-base-accent-1);
}

/* Footer Payment */
.footer__payment ul {
    padding: 0;
    margin: 0;
}

.footer__payment li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

.footer__payment li svg {
    width: 38px;
    height: 22px;
}

/* Backtotop */
button#scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    cursor: pointer;
    z-index: 2;
    min-width: 40px;
    min-height: 40px;
    overflow: hidden;
    display: block;
    text-align: center;
    opacity: 1;
    transition: all .5s ease-in-out 0s;
    transform: scale(1);
    padding: 6px 0;
    border: none;
}

#scroll.scrollhide {
    bottom: -100px;
    opacity: 0;
    transform: scale(0);
}

#scroll svg {
    fill: rgb(0, 0, 0);
    width: 20px;
    height: 20px;
    transition: .3s ease;
}

#scroll:hover svg {
    fill: var(--color-base-accent-1);
}