.contact img {
    max-width: 100%;
}
.contact .form__message {
    align-items: flex-start;
    font-size: 14px;
}
.contact .icon-success {
    margin-top: 0.2rem;
}
.contact .field {
    margin-bottom: 1.5rem;
}
.grecaptcha-badge {
    visibility: hidden;
}
#map iframe {
    max-width: 100%;
}
.vtcontform li svg{
    width: 40px;
    height: 40px;
    fill: var(--color-vtmaincolors-text);
    margin-bottom: 15px;
}
.vtcontform li h4{
    font-size: calc(var(--font-body-scale) * 18px);
    margin-bottom: 10px;
}
.vtcontform li p{
    font-size: rgb(var(--color-foreground));
    margin-bottom: 0;
}
.vtcontforminner{
    margin-bottom: 30px;
}
@media (max-width: 991px){
    #ContactForm{
        margin-bottom: 15px;
    }
    .vtcontform li svg {
        width: 26px;
        height: 26px;
        margin-bottom: 6px;
    }
    .vtcontform li h4{
        margin-bottom: 4px
    }
}
@media (max-width: 575px){
    .vtcontforminner [class*='col-']{
        margin-bottom: 15px;
    }
    .vtcontforminner{
        margin-bottom: 0;
    }
}