/* Password Section */
.full-height {
  height: 100%;
}

.password {
  height: 100%;
}

.password-header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-header h1 {
  margin: 0;
}

.password-header .header-block .block-link {
  font-size: 14px;
}

.password-header .header-block svg {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.password-header .header-block .sub-menu {
  padding: 20px;
}

.password-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
  gap: 15px;
}

.password-field .form__message {
  margin-top: 20px;
}

.password-button {
  width: 100%;
}

.password-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.icon-shopify {
  width: 5rem;
  height: 2rem;
}