.vtblogimg a{
    border-radius: 10px;
}
.vtblogimgdesc a svg{
    width: 14px;
    height: 14px;
    margin-left: 5px;
}
.vtblogimgdesc h3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.vtblogimgdesc h2,.vtblogimgdesc h3{
    font-size: calc(var(--font-body-scale) * 18px);
    text-transform: capitalize;
    padding: 0 0 15px 0;
    font-weight: var(--font-body-weight-medium);
    margin: 0;
}
.allslideprt .article-card .vtblogimgdesc .vtblogdate{
    padding-bottom: 10px;
    margin-bottom: 15px;
    position: relative;
    color: rgb(0, 0, 0,.6);
}
.blog__view-all{
    margin-top: 20px;
}
.vtuserdate .vtblogauth,.vtuserdate .article-card__footer,.vtuserdate .article-card__footer span{
    display: inline-block;
    vertical-align: middle;
}
.vtuserdate .article-card__footer span::before{
    content: '';
    margin: 0 15px;
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid rgba(0, 0, 0,0.08);
    height: 15px;
}
.vtblogtxt{
    font-size: calc(var(--font-body-scale) * 14px);
    color: rgba(0, 0, 0,0.8);;
    letter-spacing: 0;
    margin-bottom: 15px;
}
.vtblogimgdesc{
    margin-top: 15px;
}
@media (min-width: 1200px) and (max-width: 1399px){
    .blog .allslideprt .slider__slide{
        width: 33.33%;
    }
}
@media (min-width: 576px) and (max-width: 1199px){
    .blog .allslideprt .slider__slide{
        width: 50%;
    }
}
@media (max-width: 575px){
    .blog .allslideprt .slider__slide{
        width: 100%;
    }
}
@media (max-width: 991px){
    .vtblogimgdesc h2,.vtblogimgdesc h3{
        font-size: calc(var(--font-body-scale) * 16px);
    }
    .vtblogtxt{
        font-size: calc(var(--font-body-scale) * 14px);
    }
}