.allblgdate .vtblogdate,.allblgdate .article-card__footer,.allblgdate .vtblogauth{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
} 
.vtmainblog .tag-section a{
    color: var(--color-vtmaincolors-text);
    text-transform: uppercase;
    margin: 0 5px;
}
.vtmainblog .tag-section{
    margin-bottom: 10px;
}
.vtmainblog .vtblogimgdesc h2{
    font-size: calc(var(--font-body-scale) * 20px);
    text-transform: capitalize;
    margin-bottom: 15px;
}
.vtmainblog .vtblogimg img{
    border-radius: 5px;
}
.vtmainblog .vtblogimgdesc{
    margin-top: 10px;
}
.vtmainblog .blog-articles__article{
    margin-bottom: 30px;
}

/* List View */
.vtbloglist .allblgdate{
    margin: 0 -8px;
}
.vtbloglist .tag-section{
    margin-left: -5px;
    margin-right: -5px;
}
@media (max-width: 767px){
    .vtmainblog .vtblogimgdesc h2{
        font-size: calc(var(--font-body-scale) * 18px);
        margin-bottom: 10px;
    }
    .vtmainblog .tag-section a{
        font-size: 12px;
    }
    .allblgdate .vtblogdate, .allblgdate .article-card__footer, .allblgdate .vtblogauth{
        margin: 0 8px;
        font-size: 12px;
    }
    .vtmainblog .vtblogtxt{
        margin-bottom: 8px;
    }
}