.collection-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
}

.collection-list .collection-item {
    width: 33.3333333%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

.collection-inner a {
    display: block;
}

.collection-inner .collection-media {
    margin-bottom: 10px;
    position: relative;
}

.collection-inner .collection-media::before {
    content: "";
    width: 100%;
    height: 0;
    padding-bottom: var(--ratio-percent);
    display: block;
}

.collection-inner .collection-media img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.collection-inner .collection-title {
    font-size: 18px;
    font-weight: 500;
}

.collection-inner .collection-title svg {
    margin-left: 7px;
}

@media(min-width: 1200px) {
    .collection-list.collection-grid-4 .collection-item {
        width: 25%;
    }
}

@media(max-width: 767px) {
    .collection-list .collection-item {
        width: 50%;
    }
}